<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">

    <!-- navbar -->
    <div class="container" style="max-width: 100%">
        <div class="row navbar navbar-dark bg-dark">

            <div class="col">
                <b id="navbar-email" class="text-white"></b>
                <span class="text-white">with roles:</span>
                <span class="text-white" id="navbar-roles"></span>
            </div>

            <div class="col-1">
                <a class="nav-link active text-white-50" href="/logout">Logout</a>
            </div>

        </div>
    </div>
    <!-- end navbar -->

</head>
<body>

    <!-- навигационная панель слева-->
    <div class="container" style="max-width: 100%">
        <div class="row" style="height: 120vh">
            <div class="col-2 pt-3 pl-0 pr-0">
                <nav class="nav flex-column nav-pills">
                    <a class="nav-link active" href="/admin/main">Admin</a>
                    <a class="nav-link" href="/user">User</a>
                </nav>
            </div>

            <!-- вкладки -->
            <div class="col-10 bg-light pt-3 pl-0 pr-0">

                <div class="container-fluid">
                    <h1>Admin panel</h1>
                    <ul class="nav nav-tabs" id="nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" type="all-users" id="nav-item-all-users" data-toggle="tab">Users
                                table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" type="new-user" id="nav-item-new-user">New User</a>
                        </li>
                    </ul>

                    <!-- таблица пользователей -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-all-users">

                            <!-- Карта с пользователями-->
                            <div class="card">
                                <div class="bg-light p-2 pl-4 font-weight-bold"><h5>All users</h5></div>
                                <div class="card-block p-3">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Roles</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="Users-table-body">
                                        <!-- данные пользователя -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Карта с формой создания пользователя -->
                        <div class="tab-pane" id="tab-add-user">
                            <div class="card" id="card-add-user">
                                <div class="card-block p-3">

                                    <div class="bg-light p-2 pl-4">
                                        <h5>Add new user</h5>
                                    </div>

                                    <div class="modal-body text-center">
                                        <form id="form-new-user">

                                            <div class="row justify-content-center">
                                                <label class="col-5 p-2"> First Name
                                                    <input type="text" class="form-control" id="card-new-user-name"
                                                           placeholder="First Name">
                                                </label>
                                            </div>

                                            <div class="row justify-content-center">
                                                <label class="col-5 p-2"> Last Name
                                                    <input type="text" class="form-control" id="card-new-user-Lastname"
                                                           placeholder="Last Name">
                                                </label>
                                            </div>

                                            <div class="row justify-content-center">
                                                <label class="col-5 p-2"> Age
                                                    <input type="number" class="form-control" id="card-new-user-Age"
                                                           placeholder="number">
                                                </label>
                                            </div>

                                            <div class="row justify-content-center">
                                                <label class="col-5 p-2"> Email
                                                    <input type="text" class="form-control" id="card-new-user-Email"
                                                           placeholder="Email">
                                                </label>
                                            </div>

                                            <div class="row justify-content-center">
                                                <label class="col-5 p-2"> Password
                                                    <input type="text" class="form-control" id="card-new-user-Password"
                                                           placeholder="Password">
                                                </label>
                                            </div>

                                            <div class="row justify-content-center">
                                                <label class="col-5 p-2"> Role
                                                    <select class="form-control" name="roles" id="card-new-user-roles"
                                                            multiple size="2" required></select>
                                                </label>
                                            </div>

                                            <div class="row justify-content-center">
                                                <button type="submit" class="btn btn-success col-4 p-2">Add new user</button>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--модальное окно редактирование-->
        <div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="TitleModalLabel"
             aria-hidden="true">

            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Edit user</h5>
                    </div>

                    <div class="modal-body text-center">
                        <form>
                            <div class="row justify-content-center">
                                <label class="col-8 p-2"> Id
                                    <input class="form-control" type="number" id="modal-edit-id" disabled>
                                </label>

                                <label class="col-8 p-2"> First Name
                                    <input class="form-control" type="text" id="modal-edit-name" required>
                                </label>

                                <label class="col-8 p-2"> Last Name
                                    <input class="form-control" type="text" id="modal-edit-lastname" required>
                                </label>

                                <label class="col-8 p-2"> Age
                                    <input class="form-control" type="number" step="1" min="0" id="modal-edit-age" required>
                                </label>

                                <label class="col-8 p-2"> Email
                                    <input class="form-control" type="text" step="1" min="0" id="modal-edit-email" required>
                                </label>

                                <label class="col-8 p-2"> Password
                                    <input class="form-control" type="password" step="1" min="0" id="modal-edit-password"
                                           >
                                </label>

                                <label class="col-8 p-2"> Role
                                    <select class="form-control" name="roles" id="modal-edit-roles" multiple size="2"
                                            required></select>
                                </label>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>

                                <button type="submit" class="btn btn-primary">
                                    Edit
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- end модальное окно редактирование-->

        <!-- модальное окно удаления -->
        <div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="TitleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">
                            Delete user
                        </h5>
                    </div>

                    <div class="modal-body text-center">
                        <form>
                            <div class="row justify-content-center">
                                <label class="col-8 p-2"> Id
                                    <input class="form-control" type="number" id="modal-delete-id" disabled>
                                </label>

                                <label class="col-8 p-2"> First Name
                                    <input class="form-control" type="text" id="modal-delete-name" disabled>
                                </label>

                                <label class="col-8 p-2"> Last Name
                                    <input class="form-control" type="text" id="modal-delete-lastname" disabled>
                                </label>

                                <label class="col-8 p-2"> Age
                                    <input class="form-control" type="number" step="1" min="0"
                                           id="modal-delete-age" disabled>
                                </label>

                                <label class="col-8 p-2"> Email
                                    <input class="form-control" type="text" step="1" min="0"
                                           id="modal-delete-email" disabled>
                                </label>

                                <label class="col-8 p-2"> Role
                                    <select class="form-control" name="roles" id="modal-delete-roles" multiple size="2"
                                            disabled></select>
                                </label>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>

                                <button type="submit" class="btn btn-primary btn-danger">
                                    Delete
                                </button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
        <!-- end модальное окно удаления -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>

        <!-- подключаем свой js скрипт-->
        <script src="/main.js"></script>

</body>
</html>